[submodule "ros2_ws/src/Universal_Robots_ROS2_Driver"]
    path = ros2_ws/src/Universal_Robots_ROS2_Driver
    url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver.git
[submodule "engine/o3de"]
	path = engine/o3de
	url = https://github.com/o3de/o3de.git
[submodule "engine/o3de-extras"]
	path = engine/o3de-extras
	url = https://github.com/o3de/o3de-extras
[submodule "gems/robotec-o3de-tools"]
	path = gems/robotec-o3de-tools
	url = https://github.com/RobotecAI/robotec-o3de-tools.git
[submodule "gems/robotec-warehouse-assets"]
	path = gems/robotec-warehouse-assets
	url = https://github.com/RobotecAI/robotec-warehouse-assets.git
[submodule "gems/robotec-generic-assets"]
	path = gems/robotec-generic-assets
	url = https://github.com/RobotecAI/robotec-generic-assets.git
[submodule "gems/o3de-humanworker-gem"]
	path = gems/o3de-humanworker-gem
	url = https://github.com/RobotecAI/o3de-humanworker-gem.git
[submodule "gems/o3de-ur-robots-gem"]
	path = gems/o3de-ur-robots-gem
	url = https://github.com/RobotecAI/o3de-ur-robots-gem.git
[submodule "gems/o3de-otto-robots-gem"]
	path = gems/o3de-otto-robots-gem
	url = https://github.com/RobotecAI/o3de-otto-robots-gem
