[submodule "ros2_ws/src/Universal_Robots_ROS2_Driver"]
	path = ros2_ws/src/Universal_Robots_ROS2_Driver
	url = https://github.com/RobotecAI/Universal_Robots_ROS2_Driver.git
[submodule "ros2_ws/src/moveit_task_constructor"]
	path = ros2_ws/src/moveit_task_constructor
	url = https://github.com/ros-planning/moveit_task_constructor.git
