<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur20">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ur20 urdf file -->
    <xacro:include filename="ur20.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="ur20.ros2_control.xacro" />


    <xacro:ur20_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
